# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Flask instance folder (e.g., for local configs, uploads)
instance/

# SQLite database
*.db

# IDE/editor settings
.vscode/
.idea/

# macOS system file
.DS_Store
